RewriteEngine On
php_value upload_max_filesize 5M
php_value post_max_size 5M
php_value max_execution_time 300
php_value max_input_time 300
<Files "*.pdf">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.php">
    Order Allow,Deny
    Allow from all
</Files>
<Files ".env">
    Order allow,deny
    Deny from all
</Files>
Options -Indexes
ErrorDocument 403 "Access Denied"
ErrorDocument 404 "File Not Found"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]